.container {
  display: flex;
  align-items: flex-end;
  padding-top: 2rem;
}

.pillar {
  border: 2px solid black;
  background-color: grey;
  margin-right: 1px;
}

.app {
  display: inline-block;
}

.input-container {
  height: 2rem;
}

button {
  border-radius: 1rem;
  padding: 0.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;

}

button:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 0.7rem 0 rgba(0,0,0,0.24),0 0.7rem 2rem 0 rgba(0,0,0,0.19); 
}

button:focus {
  outline: none;
  background-color: darkgray;
}
