.container {
  margin: 5%;
  display: inline-flex;
  align-items: flex-end;
}

.pillar {
  border: 2px solid black;
  background-color: grey;
  margin-right: 1px;
}

.app {
  display: inline-block;
}
